/*css reset*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
/*end css reset*/

.site{
    
    font-family: 'Karla', sans-serif;
}
.site-header{
display: flex;
height: 4rem;

}
.site-header h1{
    width: 50%;
}
.header-contacts{
    width: 50%;
    text-align: right;
    line-height: 4rem;
    padding-right: 1rem;
}

h1{
    font-family: 'Literata', serif;
    font-size: 2rem;
    line-height: 4rem;
    margin-left: 1rem;
}
h2, h3, h4, h5, h6{
    font-size: 1.4rem;
    margin: 2rem 1rem 0.2em 1rem;
    font-family: 'Literata', serif;
    
}
.site-content p, .site-footer p{
    margin: 0 1rem;
    font-size: 1rem;
    line-height: 1.4em;
    
}
.slider{
    width:90%;
    margin: auto;
    display:flex;
    flex-direction: row;
}
.slide{
    overflow: hidden;
    width:100%;
    position: relative;
}
.slide img{
    width:100%;
    margin: 0.5em;
}
.slide span{
    display: none;
    background-color: darkslategrey;
    color: azure;
    float:left;
    position:absolute;
    text-align: left;
    width:96%;
    bottom: 8px;
    left: 10px;
    
}
.product{
    width: 100%;
    display: inline-block;
    margin: 1em 0 0;
}
.product-img{
    width: 8em;
    float: left;
    ;
}
.product-name{
    margin: 0.5em 0 0.2em;
    font-weight: bold;
}
.site-footer{
    background-color: brown;
    padding-bottom: 1rem;
}