/*css reset*/
html {
  box-sizing: border-box;
  font-size: 1em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
/*end css reset*/

.site{
    max-width: 50rem;
    font-family: 'Open sans', sans-serif;
    margin: auto;
}
.site-header{
display: flex;
}
.logo-img{
    
    width: auto;
    height: 4.5rem;
    float: left;
    margin: 2rem 0rem 1rem 1rem;
}
.header-contacts{
    width: 50%;
    text-align: right;
    line-height: 7.5rem;
    padding-right: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    float: right;
}
.intro{
    padding: 1rem 0 2rem 0;
}
.intro{
    background-color: white;
    color: 1D0304;
}
.intro img{
    margin-bottom: 1rem;
  
}
.intro p{
      padding-bottom: 1em;
}
.contact-link, .contact-link:visited{
    width: 12em;
    display: block;
    padding: 0.8em;
    margin-top: 1rem;
    margin: auto;
    
    background-color: #33D99D;
    border-radius: 1.2em;
    color: white;
    
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    
}

h1{
    font-family: 'Lora', serif;
    font-size: 2rem;
    line-height: 4.5rem;
    margin-left: 1rem;
}
h2, h3, h4, h5, h6{
    font-size: 1.5rem;
    padding: 2rem 1rem 0.2em 1rem;
    font-family: 'Lora', serif;
    
}
.site-content p, .site-footer p{
    margin: 0 1rem;
    font-size: 1rem;
    line-height: 150%;
    
}
.slider{
    width:90%;
    margin: auto;
    display:flex;
    flex-direction: row;
}
.slide{
    overflow: hidden;
    width:100%;
    position: relative;
}
.slide img{
    width:100%;
    margin: 0.5em;
}
.slide span{
    display: none;
    background-color: darkslategrey;
    color: azure;
    float:left;
    position:absolute;
    text-align: left;
    width:96%;
    bottom: 8px;
    left: 10px;
    
}
.values{
    background-color: #33D99D;
    color: 04422C;
    padding-bottom: 2rem;
}
.values h2 {
    text-align: center;
}
.values h2:first-child {
    font-size: 2rem;
}
.products{
    padding-bottom: 2rem;
    
}
.product{
    width: 100%;
    display: inline-block;
    margin: 1em 0 0 ;
}
.products h2:first-child{
    text-align: center;
    font-size: 2rem;
}
.product-img{
    width: 8em;
    float: left;
    margin-left: 1rem;
}
.product {
    font-size: 0.85rem;
}
.product-name{
    margin: 0.5em 0 0.2em;
    font-weight: bold;
}
.nguyen-cafe{
    padding-bottom: 2rem;
    background-color: #E5BC2A;
}
.site-footer{
    background-color: #E5BC2A;
    
    padding-bottom: 1rem;
    line-height: 150%;
    
}