/*css reset*/
html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  'font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
/*end css reset*/

.site{
    padding: 0em 1em 0;
    font-family: 'Karla', sans-serif;
}
.site-header{
    
height: 15%;
vertical-align: middle;

}
.site-header h1{
    float: left;
}
.header-contacts{
    float: right;
}

h1{
    font-family: 'Literata', serif;
}
h2, h3, h4, h5, h6{
    margin: 2em 0 0.2em 0;
    font-family: 'Literata', serif;
}
.site-content p{
    line-height: 1.4em;

}
.slider{
    width:90%;
    margin: auto;
    display:flex;
    flex-direction: row;
}
.slide{
    overflow: hidden;
    width:100%;
    position: relative;
}
.slide img{
    width:100%;
    margin: 0.5em;
}
.slide span{
    display: none;
    background-color: darkslategrey;
    color: azure;
    float:left;
    position:absolute;
    text-align: left;
    width:96%;
    bottom: 8px;
    left: 10px;
    
}